# =============================
# Python
# =============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db

# =============================
# Virtual Environment
# =============================
venv/
env/
.venv/

# =============================
# AI Model Weights
# =============================
*.pt
*.onnx
*.engine

# =============================
# Videos & Media (IMPORTANT)
# =============================
*.mp4
*.avi
*.mov
*.mkv

# Allow demo folder structure but ignore files
demo_assets/demo_videos/*
!demo_assets/demo_videos/.gitkeep

# =============================
# OS Files
# =============================
.DS_Store
Thumbs.db

# =============================
# IDE
# =============================
.vscode/
.idea/