<!DOCTYPE html>
<html>
<head>
    <title>NeuralGuard Security Dashboard</title>
    <style>
        body {
            background: #0b0f17;
            color: white;
            font-family: Arial;
            text-align: center;
        }
        h1 {
            color: #00ffd5;
        }
        .alert-box {
            background: #1c2433;
            margin: 20px auto;
            padding: 15px;
            width: 60%;
            border-left: 8px solid red;
            box-shadow: 0 0 10px red;
        }
    </style>
</head>
<body>

<h1>🚀 NeuralGuard Live Security Monitor</h1>

<div id="alerts"></div>

<script>
async function loadAlerts(){
    let res = await fetch("/alerts");
    let data = await res.json();

    let container = document.getElementById("alerts");
    container.innerHTML = "";

    data.reverse().forEach(alert=>{
        container.innerHTML += `
            <div class="alert-box">
                <h3>${alert.event}</h3>
                <p>Risk: ${alert.risk}</p>
                <p>Camera: ${alert.camera_id}</p>
                <p>${alert.timestamp}</p>
            </div>
        `;
    });
}

setInterval(loadAlerts, 2000);
</script>

</body>
</html>